
html(lang=language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')


    meta(name='title', content='Elastiq')

    meta(name='description', content='description text')

    meta(name='date', content='2018-05-12')
    meta(name='sitecode', content='CH')


    link(rel='stylesheet', href=relativePath + 'css/layouts/default/style.css', inline)

    block meta

  body
    block body

    script(src=relativePath + 'js/layouts/default/vendor.js' inline)
    script(src=relativePath + 'js/layouts/default/script.js' inline)
    != helpers.inline("build/assets/icons/symbol/sprite.svg")
